@font-face {
    font-family: "quisand";
    src: url("../font/static/Quicksand-Medium.ttf");
}

@font-face {
    font-family: "quisand2";
    src: url("../font/static/Quicksand-Bold.ttf");
}

.banner-icon1 {
    width: 379px;
    max-height: 379px;
    background: #59CCA6;
    position: relative;
    opacity: 1;
}

.banner-icon1:hover {
    opacity: 0.8;
}

.banner-icon2 {
    width: 379px;
    max-height: 379px;
    background: #91AD41;
    position: relative;
    opacity: 1;
}

.banner-icon2:hover {
    opacity: 0.8;
}

.banner-icon3 {
    width: 379px;
    max-height: 379px;
    background: #E3B375;
    position: relative;
    opacity: 1;
}

.banner-icon3:hover {
    opacity: 0.8;
}

.banner-icon4 {
    width: 379px;
    max-height: 379px;
    background: #EF7F94;
    position: relative;
    opacity: 1;
}

.banner-icon4:hover {
    opacity: 0.8;
}

.col-img1 {
    max-height: 379px;
    padding-left: 160px;

}

.text-banner {
    position: absolute;
    top: 25%;
    width: 250px !important;
    left: 16%;
    color: white;
}

.col-img2 {
    max-height: 379px;
    padding-left: 148px;

}

.col-img3 {
    max-height: 379px;
    padding-left: 78px;
}

.col-img4 {
    max-height: 379px;
    padding-left: 152px;
}

.but {
    position: absolute;
    top: 81%;
    left: 16%;

}

.but button {
    background: #27272f;
    border: #27272f 1px solid;
    color: white;
    padding: 10px 12px;
    border-radius: 5px;
    font-family: "quisand";
    font-size: 14px;
}

.but button:hover {
    background-color: #91AD41;
    border: #91AD41;
    transition: 0.5s;

}

.condition {
    font-size: 14px;
    font-family: "quisand";
    color: #8b8b99;
    width: 860px;
    margin: auto;
}

.text-gradiant {
    margin-bottom: 10px;
    text-transform: uppercase;
    background: -webkit-linear-gradient(35deg, #91ad41, #ff8a6c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "quisand2";
}

.sp {
    width: 262px;
}

.sp img {
    width: 141px;
}

.sp p {
    font-family: "quisand2";
}

.sp span {
    font-size: 14px;
    font-family: "quisand";
    color: #8b8b99;
    width: 100px;
}

.classify {
    margin-left: 460px;

}

.classify a {
    padding: 7px 14px;
    background: #91AD41;
    border-radius: 20px;
    color: white;

}

.clas-menu {
    padding-left: 10px;
}

.all-pro {
    margin: 10px 140px 10px 160px;
    justify-content: space-between;
}

.product {
    width: 272px;
    max-height: 370px;
    background: #F5F6FB;
    transition: box-shadow .3s;
    border: 1px solid #F5F6FB;

}

.product:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.product img {
    width: 100%;

}

.product img:hover {
    opacity: 0.5;
}

.tomato {
    font-family: "quisand2";
    margin-top: 15px;
    font-size: 18px;
}

.price {
    font-family: "quisand";
    font-size: 18px;
    color: #91AD41;
    padding-top: 0px;
}

.deals-value .amount {
    text-decoration: line-through;
}

.woocommerce-Price-currencySymbol {
    margin-right: 10px;
}

.price-sale {
    color: #8b8b99;
}

.hotline img {
    max-height: 495px;
    width: 100%;

}

.hotline {
    position: relative;
}

.text-hotline {
    position: absolute;
    top: 10%;
    color: white;
    left: 32%;
    top: 25%;
    width: 550px;
}

.phone {
    font-size: 48px;
    font-family: "quisand2";
}

.newspaper {
    width: 360px;
    transition: box-shadow .3s;
    border: 1px solid #F5F6FB;
}

.newspaper:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.newspaper img {
    width: 358px;
    height: 340px;
}

.new-text {
    margin-left: 40px;
    font-family: "quisand";
}

.date {
    color: #91AD41;
}

.topic {
    background-color: #F5F6FB;
}

.top-text {
    font-family: "quisand2";
    width: 300px;
    text-align: center;
    margin: 0px 30px 0px 30px !important;
    padding-top: 15px;
}

.top-text1 {
    text-align: center;
    font-family: "quisand";
    color: #8b8b99;
    font-size: 14px;
    margin: 10px 29px 0px 29px !important;
    padding-bottom: 40px;
}