@font-face {
    font-family: "quisand";
    src: url("../font/static/Quicksand-Medium.ttf");
}

@font-face {
    font-family: "quisand2";
    src: url("../font/static/Quicksand-Bold.ttf");
}

.banner{
    position: relative;
}
.banner img{
    height: 194px;
    width: 100%;
}
.text-banner{
    position: absolute;
    top: 30%;
    left: 44%;
    text-align: center;
    font-family: "quisand2";
}
.text-banner a{
    color: rgb(149, 149, 149);
    text-decoration: none !important;
}
.text-banner a:hover{
    color: #91AD41;
}
.text-banner span{
    color: #91AD41 !important;
}
.text-email{
    color: gray;
}
input{
    color: #91AD41 !important;
    padding: 7px;
    border-radius: 20px;
    border: 1px solid rgb(113, 109, 109);
    width: 100%;
}

.btn-login{
    border-radius: 30px;  
    border: none;
    background-color: #91AD41 ;
    color: #fff;
    font-size: 14px;
}
.text-submit{
    color: gray;
    text-decoration: underline;
}
::placeholder{
    padding: 2px;
}